<%= form_for(@barbershop) do |f| %>
  <% if @barbershop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barbershop.errors.count, "error") %> prohibited this barbershop from being saved:</h2>

      <ul>
      <% @barbershop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
